<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8"/>
  <title>IPFS Drive</title>
</head>
<body>
  <noscript>Please enable JavaScript to use this application</noscript>
  <div id="app">
    Loading required libraries...
  </div>
</body>
</html>
